<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8">
  <title> Single Page application </title>

  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="tempApp.js"></script>
</head>
<body ng-app="myApp">
  <center>
    <h1> Weather API application </h1><br>

    <div ng-controller="myCtrl">
      <input type="text" ng-model="cityName" 
        id="filter" placeholder="Enter city name">
      <button ng-click="getCity(cityName)" class="btn">Let me know</button>
      <h4>Weather today: </h4>
      
      City: {{weather.location.name}}<br>
      Temperature: {{weather.current.temp_c}}&deg;C
    </div>
  </center>
  <hr>
</body>
</html>
